{% extends "layout.html" %}

{% block content %}

<style>
.modal-title2 {
      margin-left: 28%;
}
</style>

   {% if loggedIn == True and adminView == True  %}
      <!-- Jumbotron Header -->
      {% for i in announceList %}
        <header class="jumbotron my-4">
         <h1 class="display-3">{{i[1]}}</h1>
         <p class="lead">{{i[2]}} </p>
         <p>{{i[3]}}</p>
         <a href="/previousannouncements" class="btn btn-primary btn-lg">Click here to view past announcements</a>
        </header>
      {%endfor%}

      <!-- Page Features -->
      <div class="row text-center" style="justify-content: center;">

         <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="https://png.icons8.com/metro/1600/search.png"  height="280" width="258">
              <div class="card-body">
                <h4 class="card-title">Search for a Student</h4>
                <p class="card-text">Click here to search for a student's progress in the Honors Program</p>
              </div>
              <div class="card-footer">
                <a href="/" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">Search</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="https://image.flaticon.com/icons/svg/28/28842.svg" alt="" height="280">
              <div class="card-body">
                <h4 class="card-title">Upload CSV</h4>
                <p class="card-text">Upload a CSV file containing student's information for the Honors Program.</p>
              </div>
              <div class="card-footer">
                <a href="/" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">Upload</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/education-set-3/512/announcement-512.png" alt="" height="280">
              <div class="card-body">
                <h4 class="card-title">Post Announcement</h4>
                <p class="card-text">Post a new announcement for student's to view.</p>
              </div>
              <div class="card-footer">
                <a href="/announcement" class="btn btn-primary">Post</a>
              </div>
            </div>
          </div>

      </div>
      <!-- /.row -->
   {% elif loggedIn == True and studentView == True  %}
      <!-- Jumbotron Header -->
      {% for i in announceList %}
        <header class="jumbotron my-4">
         <h1 class="display-3">{{i[1]}}</h1>
         <p class="lead">{{i[2]}} </p>
         <p>{{i[3]}}</p>
         <a href="/previousannouncements" class="btn btn-primary btn-lg">Click here to view past announcements</a>
        </header>
      {%endfor%}
 
       <!-- Page Features -->
       <div class="row text-center" style="justify-content: center;">
 
         <div class="col-lg-3 col-md-6 mb-4">
           <div class="card">
             <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/business-office-icons/256/To-do_List-512.png" height="280">
             <div class="card-body">
               <h4 class="card-title">View Progress</h4>
               <p class="card-text">View your progress in the Honors Program.</p>
             </div>
             <div class="card-footer">
               <a href="/mychecksheet" class="btn btn-primary">Click to View</a>
             </div>
           </div>
         </div>
 
         <div class="col-lg-3 col-md-6 mb-4">
           <div class="card">
             <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/education-set-3/512/announcement-512.png" alt="" height="280">
             <div class="card-body">
               <h4 class="card-title">View Announcements</h4>
               <p class="card-text">View announcements posted by administrators.</p>
             </div>
             <div class="card-footer">
               <a href="/previousannouncements" class="btn btn-primary">Click to View</a>
             </div>
           </div>
         </div>
       </div>
       <!-- /.row -->
   {% else %}
      <!-- Jumbotron Header -
      <header class="jumbotron my-4">
         <h1 class="display-3">Homepage</h1>
         <p class="lead">Something will be displayed here </p>
         <a href="/previousannouncements" class="btn btn-primary btn-lg">Click here to view all announcements</a>
        </header> -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:530px;">
         <ol class="carousel-indicators">
           <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner" style="height: 530px;">
           <div class="carousel-item active">
             <img class="d-block w-100" src="http://buildings.umwblogs.org/files/2012/04/UMW-Buildings-1978.jpg" alt="First slide" height="580">
             <div class="carousel-caption" style="height: 27%;">
               <h3>Welcome!</h3>
               <p>Click login to get started.</p>
             </div>
           </div>
           <div class="carousel-item">
             <img class="d-block w-100" src="http://buildings.umwblogs.org/files/2012/04/UMW-Buildings-19521.jpg" alt="Second slide" height="580">
             <div class="carousel-caption" style="height: 27%;">
               <h3>Welcome!</h3>
               <p>Click login to get started.</p>
             </div>
           </div>
           <div class="carousel-item">
             <img class="d-block w-100" src="http://buildings.umwblogs.org/files/2012/04/UMW-Buildings-1994.jpg" alt="Third slide" height="580">
             <div class="carousel-caption" style="height: 27%;">
               <h3>Welcome!</h3>
               <p>Click login to get started.</p>
             </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
         </a>
      </div>
 
       <!-- /.row -->
   {% endif %}

  <!--search modal-->
   
  <div id="searchModal" class="modal fade" style="">
    <div class="modal-dialog" style="position: relative;  top: 137px;width:1000px;height:350px;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title2">Search for a student</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form method="post" class="form col-md-12 center-block" action="/studentresult">
            <div class="form-group">
              <input type="text" class="form-control input-lg" name="fname" placeholder="First name" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" name="lname" placeholder="Last name" required>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Search</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  
  <!-- upload modal -->
   <div id="uploadModal" class="modal fade" style="">
      <div class="modal-dialog" style="position: relative;  top: 137px;width:1000px;height:350px;">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" style="margin-left: 25%">Upload a student CSV file.</h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="margin:auto;">
               <form enctype="multipart/form-data" method="post" action="/upload">
                  <div class="form-group">
                     <input type="file" name="csvfile">
                     <br>
                     <br>
                     <button class="btn btn-primary btn-lg btn-block">Upload</button>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <form>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </form>
            </div>
         </div>
     <!-- /.modal-content -->
      </div>
   <!-- /.modal-dialog -->
   </div>
   <!-- /.modal -->
{% endblock %}
