{% extends "layout.html" %}

{% block content %}

<style type="text/css">
    footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
}
</style>


{% if adminView == True %}

{% if failedSresult == True  %}

<br>
<p>Student not found in database!</p>
<a class="btn btn-primary" href="/" role="button">Return to Home</a>

{% else %}

{% endif %}

{% endif %}

{% endblock %}